<!-- Modal -->
				<div class="modal fade" id="modal" tabindex="-1">
					<div class="modal-dialog modal-dialog-centered modal-lg">
						<div class="modal-content p-5">
							<div class="modal-header ">
								<div class="fontawesome me-3">
									<i class="fas fa-exclamation"></i>
								</div>
								
									<h5 class="me-3 text-center">Il est rappelé que l’investissement dans des sociétés non cotées comporte des risques spécifiques :
									</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
							</div>
							<div class="modal-body p-5">
											<p>En effectuant un investissement participatif, vous en assumez pleinement les risques, y compris le risque de perte
											totale ou partielle du capital investi. Investir dans le présent projet de financement participatif comporte des
											risques, y compris le risque de perte totale ou partielle du capital investi. Votre investissement n'est pas couvert par
											les systèmes de garantie des dépôts établis conformément à la directive 2014/49/UE du Parlement européen et du Conseil.
											Votre investissement n'est pas non plus couvert par les systèmes d'indemnisation des investisseurs établis conformément
											à la directive 97/9/CE du Parlement européen et du Conseil.</p>
											<h5 class="text-danger text-center">Le retour sur investissement n'est pas garanti !</h5>
							</div>

						</div>
					</div>
				</div>
				<!-- /Modal -->