{% extends 'baseAdmin.html.twig' %}
{% block title %}accueil
{% endblock %}
{% block body %}
{{ parent() }}
<div class="col-10 p-5">
    <h1 class="mt-2 text-center">
        Bienvenue sur l'espace administrateur du site <a class="" href="{{ path('home') }}"><img class="logo" src="{{ asset('img/LogoLP.png') }}" alt=""></a>
    </h1>
</div>
{% endblock %}