{% extends 'baseAdmin.html.twig' %}
{% block title %}user - form{% endblock
title %} {% block body %}

{{ parent() }}

<div class="col-10 p-5">
    <h2 class="py-3">Formulaire utilisateur</h2>
    {{ form(formulaireUser) }}

    

 
</div>

{% endblock %}