<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-4">
                    <a href="{{ path('home') }}"><img class="logo" src="{{ asset('img/LogoLP.png') }}" alt=""></a>
                </div>
                <div class="col-lg-4">
                    <h5 class="footerTitle">Nos liens utiles</h5>
                    <ul class="list-unstyled">
                        <li><button type="button" class="btn text-white" id="btn1">Réclamations</button></li>
                        <!-- Modal1-->
                        <div class="modal fade" id="modal1" tabindex="-1">
                            <div class="modal-dialog modal-fullscreen">
                                <div class="modal-content">
                                    <div class="modal-header ">
                                        <h5 class="modal-title">Politique de traitement des réclamations client</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body text-dark">
                                        <div class="container">
                                            <p>Nos clients peuvent nous joindre par téléphone en appelant +33 1 42 46 11
                                                73, par courriel à contact@ciib.fr ou par
                                                courrier postal au 10, rue de Montyon - 75 009 PARIS. Chaque réclamation
                                                ouverte entrainera l’envoi d’un courriel ou
                                                d’un courrier de confirmation de réception de la réclamation ainsi que
                                                l’attribution d’un numéro de suivis de dossier.</p>
                                            <p>Si la demande porte sur une réclamation liée à l’utilisation de notre
                                                plateforme, nous nous engageons à respecter
                                                conformément à nos conditions générales d’utilisation, un délai de 10
                                                jour ouvré pour apporter par écrit (LRAR) une
                                                solution aux clients. Si la demande concerne l’impossibilité d’accéder à
                                                un document règlementaire d’une une société
                                                émettrice tels que les comptes annuels, la composition des actifs à la
                                                clôture de l'exercice, les rapports du
                                                commissaire aux comptes, le rapport du conseil d'administration ou du
                                                directoire, nous traiterons la demande sous 8
                                                jours ouvrés. Les délais courent à compter de la réception de la demande
                                                par les services de CIIB. Un système
                                                d'horodatage de la demande permet de suivre le respect de ces délais de
                                                traitement.</p>
                                            <p>Dans le cas où la réponse que nous vous apporterions ne vous satisferait
                                                pas pleinement, vous disposez d’un délai de 30
                                                jours pour contester la réponse, ou apporter vos observations. Nous nous
                                                nous engageons à vous apporter une seconde
                                                réponse dans les 10 jours suivant la réception de vos observations. Dans
                                                le cas où la réponse apportée ne satisferait
                                                toujours pas, vous êtes invité à contacter directement la direction de
                                                CIIB et Monsieur SALWA, président. Nous vous
                                                informons que vous avez également la possibilité de saisir gratuitement
                                                le Médiateur de l'AMF, en accédant accès au

                                                <a href="https://www.amf-france.org/fr/le-mediateur-de-lamf/votre-dossier-de-mediation/vous-voulez-deposer-une-demande-de-mediation"
                                                    class="text-primary">formulaire de demande de médiation </a>sur le
                                                site internet de l'AMF.
                                            </p>
                                            <p>Le Médiateur de l'AMF peut être saisi gratuitement par tout épargnant ou
                                                investisseur, consommateur, ou professionnel
                                                (société, association, caisse de retraite ou toute autre personne
                                                morale) ayant un différend individuel avec un
                                                intermédiaire financier ou un émetteur et que toute demande de médiation
                                                doit avoir été précédée d'une première démarche
                                                écrite auprès de nous.</p>
                                            <p>En application de la loi n°78-17 du 6 janvier 1978 modifiée relative à
                                                l'informatique, aux fichiers et aux libertés, il
                                                est précisé que les données à caractère personnel recueillies sont
                                                obligatoires pour le traitement des
                                                demandes/réclamations clients, qu'à ce titre, elles feront</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <li <button type="button" class="btn text-white" id="btn2">Avertissements sur les
                            risques</button></li>
                        <!-- Modal2-->
                        <div class="modal fade" id="modal2" tabindex="-1">
                            <div class="modal-dialog modal-fullscreen">
                                <div class="modal-content">
                                    <div class="modal-header ">
                                        <h5 class="modal-title">Avertissements sur les risques</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body text-dark">
                                        <div class="container">
                                            <p>Les offres de financement participatif présentées sur notre site ne sont
                                                pas expressément visées par les
                                                autorités
                                                compétentes, ni par l’Autorité européenne des marchés financiers (AEMF).
                                            </p>
                                            <p>L’adéquation de votre expérience et de vos connaissances en la matière
                                                n’a pas nécessairement été évaluée avant
                                                que
                                                l’accès aux investissements vous ait été accordé. En effectuant un
                                                investissement, vous en assumez pleinement
                                                les
                                                risques, y compris le risque de perte totale ou partielle du capital
                                                investi.</p>
                                            <p>Investir dans des projets de financements participatifs comporte des
                                                risques, y compris le risque de perte totale
                                                ou
                                                partielle du capital investi. Votre investissement n’est pas couvert par
                                                les systèmes de garantie des dépôts
                                                établis
                                                conformément à la directive 2014/49/UE du Parlement européen et du
                                                Conseil. Votre investissement n’est pas non
                                                plus
                                                couvert par les systèmes d’indemnisation des investisseurs établis
                                                conformément à la directive 97/9/CE du
                                                Parlement
                                                européen et du Conseil.</p>
                                            <p>Le retour sur investissement n’est pas garanti.</p>
                                            <p>Les offres de financement participatives ne sont pas des produits
                                                d’épargnes, et nous vous conseillons de ne pas
                                                investir plus de 10 % de votre patrimoine net dans des projets de
                                                financement participatif.</p>
                                            <p>Vous pourriez ne pas être en mesure de vendre les instruments
                                                d’investissement au moment où vous le souhaitez. Si
                                                vous
                                                êtes en mesure de les vendre, vous risquez néanmoins de subir des
                                                pertes.</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {# Modal3 #}
                        <li><button type="button" class="btn text-white" id="btn3">CGU</button></li>
<div class="modal fade" id="modal3" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title">Conditions générales d’utilisation du Carnet d’annonces</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body text-dark">
                <div class="container">
                    <p> Les présentes Conditions d’utilisation constituent un accord juridique entre vous, en tant
                        qu’utilisateur du Carnet
                        d’annonces et la société CiiB. La société CiiB est mandatée par les sociétés dont les actions sont
                        présentes sur le
                        Carnet d’annonces pour gérer les registres d’actionnaires.</p>
                    
                    <h5>Article 1 – CHAMP D’APPLICATION</h5>
                    
                    <p>Les présentes Conditions d’utilisation définissent les conditions générales régissant votre utilisation
                        du Carnet
                        d’annonces. Elles s’appliquent à vous dès que vous utilisez le Carnet d’annonces, et vous êtes réputés
                        les avoir
                        acceptés dès votre première utilisation du Carnet d’annonces. Si vous ne souhaitez pas continuer à être
                        lié par ces
                        Conditions d’utilisation, veuillez cesser d’utiliser le Carnet d’annonces.i.</p>
                    
                    <p>Au cours de votre utilisation du Carnet d’annonces vous pourrez être emmenés à conclure des accords
                        d’achats et de
                        ventes d’actions. Ces transactions résultent de votre consentement préalable et de celui de votre
                        contrepartie. Les
                        présentes Conditions s’articulent avec le droit commun de la vente applicable à l’achat et la vente
                        d’actions de gré à
                        gré et les règles financières relatives aux transferts de la propriété des actions et à l’inscription en
                        compte.</p>
                    
                    
                    <h5>Article 2 – PROPRIETE INTELLECTUELLE</h5>
                    
                    <p>L’interface Web du Carnet d’annonces peut inclure à tout moment du texte, des graphiques, des logos, des
                        icônes, des
                        images, et des compilations de données, résultant de la mise en page du site Web, tous ces éléments
                        seront appelés «
                        Contenu ».</p>
                    <p>Tout le Contenu est la propriété de CiiB. Le contenu est protégé par le droit français, en vertu de
                        l’article L111-1 du
                        code de la propriété intellectuelle conférant à CiiB l’ensemble des droits sur le Contenu. Vous ne
                        pouvez pas
                        reproduire, copier, distribuer, stocker ou de quelque autre manière que ce soit utiliser le matériel du
                        site Web, sans
                        autorisation écrite expresse de CiiB. Le Carnet d’annonces est une marque déposée auprès de l’INPI.</p>
                    
                    <h5>Article 3 – . LIENS VERS D’AUTRES SITES WEB</h5>
                    <p>Les pages Web relatives au Carnet d’annonces peuvent contenir des liens vers d’autres sites. Sauf
                        indication contraire,
                        vous devez supposer que ces autres sites ne sont pas sous le contrôle de CiiB ou qu’ils appartiennent à
                        nos sociétés
                        partenaires. Nous n’assumons aucune responsabilité pour le contenu de ces sites Web, et nous déclinons
                        toute
                        responsabilité pour toute forme de perte ou de dommage résultant de leur utilisation.</p>
                    
                    <h5>Article 4 – AVIS DE NON-RESPONSABILITE</h5>
                    
                    <p>Nous déclinons toute responsabilité en cas de perturbation ou de non-disponibilité du Carnet d’annonces
                        résultant de
                        causes externes, y compris, mais sans s’y limiter, une défaillance de l’équipement du FAI, une
                        défaillance de
                        l’équipement de l’hébergeur, une défaillance du réseau de communication, une panne de courant, des
                        événements naturels,
                        les restrictions légales et la censure.</p>
                    
                    <p>Les informations commerciales et financières publiées sur le Carnet d’annonces répondent à la Charte de
                        Déontologie de
                        l’association Love Money. CiiB garantie leurs exactitudes dans la mesure ou ces informations sont
                        disponibles
                        publiquement auprès des journaux d’annonces légaux. CiiB ne pourra être tenu responsable auprès de vous,
                        pour des
                        informations faussement diffusées qui lui auraient étés transmis par une société partenaire.</p>
                    <p>Aucune partie du Carnet d’annonces n’est destinée à constituer des conseils, et l’ensemble du Contenu Web
                        doit être
                        utilisé pour prendre des décisions d’investissement ou de désinvestissement à vos risques et périls. A
                        ce titre, CiiB
                        prend la respectueuse liberté de vous rappeler que l’investissement comporte des risques, y compris la
                        perte de capital,
                        l’illiquidité, le manque de dividendes et la dilution, et ne devrait être effectué que dans le cadre
                        d’un portefeuille
                        diversifié. Les placements ne doivent être faits que par des investisseurs qui comprennent ces risques.
                        Le traitement
                        fiscal dépend des circonstances individuelles et peut changer à l’avenir.</p>
                    
                    
                    
                    
                    <h5>Article 5 – REVISIONS</h5>
                    
                    <p>Nous pouvons mettre à jour ces Conditions d’utilisation s’il y a une raison valable, par exemple, pour
                        refléter des
                        changements dans la loi ou des changements dans nos services. Si nous mettons à jour les présentes
                        Conditions
                        d’utilisation, nous afficherons une nouvelle version sur le site du Carnet d’annonces, et dès que vous
                        utiliserez le
                        Carnet d’annonces après leur publication, vous serez réputé avoir accepté la version mise à jour, mais
                        vous serez
                        toujours lié par les termes de toute version précédente à laquelle vous avez accepté ou été réputé
                        accepter. S’il existe
                        un conflit entre deux versions des Conditions d’utilisation auxquelles vous avez accepté ou qui ont été
                        réputées
                        convenir, la version la plus récente prévaudra, sauf indication contraire expresse.</p>
                    
                    
                    
                    <h5>Article 6 – UTILISATION DU CARNET D’ANNONCES</h5>
                    
                    <p>Vous reconnaissez expressément avoir pris connaissance en même temps que les présentes Conditions
                        générales, du mode
                        d’emploi du Carnet d’annonces mis à votre disposition sur le site du Carnet d’annonces pour déposer et
                        répondre aux
                        différentes offres.</p>
                    <p>Ce mode d’emploi décrit la procédure technique pour déposer vos offres d’achats et de vente sur le Carnet
                        d’annonces.
                        CiiB ne pourra être tenu responsable d’une mauvaise utilisation du Carnet d’annonces qui résulterait de
                        votre fait.</p>
                    
                    <h5>Article 7 – DROIT APPLICABLE</h5>
                    <p>Le Carnet d’annonces est une « place de marché électronique ». CiiB intervient comme opérateur de
                        plateforme en ligne,
                        conformément à l'article L. 111-7 du code de la consommation, et se conforme a toutes ses obligations en
                        matière
                        d’informations et de transparence. Les présentes Conditions générales d’utilisation et la relation entre
                        vous et seront
                        régies et interprétées conformément aux droit français.</p>
                    
                    <h5>Article 8 – POLITIQUE DE TRAITEMENT DES DONNEES PERSONNELLES</h5>
                    <p>En tant qu’opérateur technique du Carnet d’annonces, CIIB est amené́ à collecter vos données
                        personnelles nécessaires
                        aux traitements des annonces, au déroulement des transactions, au transfert de la propriété des titres.
                    </p>
                    <p>Dans vos rapports vous concernant en tant qu’utilisateur vendeur, le traitement consiste à collecter les
                        données à
                        caractère personnel (pièce d’identité et justificatif de domicile, coordonnées bancaires). Ce traitement
                        a pour
                        finalité́ principale le bon déroulement de la transaction sur les actions et le débit du compte de
                        titres du vendeur.
                        Dans le cadre de cette finalité́ principale, CIIB est responsable du traitement, en ce qu'il détermine
                        les moyens (par
                        le recueil des données relatives au vendeur) et finalités (la mise en relation avec un acheteur) du
                        traitement.</p>
                    <p>Dans vos rapports vous concernant en tant qu’utilisateur acheteur, le traitement consiste à collecter
                        les données à
                        caractère personnel (pièce d’identité, justificatif de domicile). Ce traitement a pour finalité
                        principale le bon
                        déroulement de la transaction sur les actions et le crédit du compte de titres de l’acheteur. Dans le
                        cadre de cette
                        finalité principale, CIIB est responsable du traitement, en ce qu'il détermine les moyens » (par le
                        recueil des
                        données relatives au vendeur) et finalités (la mise en relation avec un vendeur) du traitement.</p>
                    
                    <p>CIIB s’engage à n’avoir aucun intérêt économique à collecter les données personnelles relatives aux
                        utilisateurs
                        pour une finalité et distincte de celle du Carnet d’annonces.</p>
                    <h5>Article 9 – COMPETENCE</h5>
                    <p>Vous acceptez de vous soumettre à la compétence exclusive des tribunaux français. Cela signifie que si
                        vous voulez
                        intenter une action en justice contre nous, ou si nous voulons intenter une action en justice contre
                        vous, cela doit se
                        faire devant l’un de ces tribunaux.</p>
                    <h5>Article 10 – CONTACT</h5>
                    <p>Si vous souhaitez communiquer avec nous au sujet de quoi que ce soit lié aux présentes Conditions
                        d’utilisation, vous
                        pouvez le faire en envoyant un courriel à contact@ciib.fr ou nous joindre par téléphone au 01 42 46 11
                        73.</p>
                </div>

            </div>
        </div>
    </div>
</div>


                    </ul>
                </div>

                <div class="col-lg-4 ">
                    <h5 class="footerTitle">Contact</h5>
                    <ul class="list-unstyled ">
                        <li>
                            <i class="fas fa-home "></i>&nbsp; 10 rue de Montyon 75009 Paris
                        </li>
                        <li>
                            <i class="fas fa-phone-alt"></i>&nbsp; 01 42 46 11 73
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>&nbsp; contact@ciib.fr
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="mb-0 text-white">© 2021 Love PME | Tous droits réservés</p>
                </div>
                <div class="col-md-6">
                    <div class="social-icons">
                        <a href="https://twitter.com/bourse_pme"><i class="fab fa-twitter"></i></a>
                        <a href="https://fr-fr.facebook.com/pages/CIIB/106938809435164"><i
                                class="fab fa-facebook-f"></i></a>
                        <a href="http://fr.linkedin.com/pub/jean-salwa/7/353/933"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script>
    document.addEventListener('DOMContentLoaded', function () {

        const btn1 = document.querySelector('#btn1');
        const modal1 = new bootstrap.Modal(document.querySelector('#modal1'));
        const btn2 = document.querySelector('#btn2');
        const modal2 = new bootstrap.Modal(document.querySelector('#modal2'));
         const btn3 = document.querySelector('#btn3');
        const modal3 = new bootstrap.Modal(document.querySelector('#modal3'));
        btn1.addEventListener('click', function () {
            modal1.show();
        });

        btn2.addEventListener('click', function () {
            modal2.show();
        });
         btn3.addEventListener('click', function () {
            modal3.show();
        });

    });
</script>